{% extends 'store/base.html' %}

{% block styleCSS %} 
    <style>
        .formRicerca{
            margin-bottom: 15px;
        }
        .form-orizzontale{
            display: flex;
            flex-direction: row;
        }
        .testoCentrato{
            text-align: center;
        }
        .singoloProdotto{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            padding : 10px;
            border: 1px solid black;
            border-radius: 10px;
        }
        .singoloCampoProdotto{
            margin-bottom: 5px;
        }
        input{
            border: 1px solid black;
            border-radius: 10px;
        }
    </style>
{% endblock %}

{% block title%} 
Home Page
{% endblock %}

{% block content %}
    <h1 class="mt-2">Ricerca un prodotto</h1>
    <form class="formRicerca" action="#" method="POST">
        {% csrf_token %}
        {{form}}
        <input type="submit" value="Cerca">
    </form>    
    {% if prodottiTrovati %}
    
        {% for prodotto in prodottiTrovati %}
            <form method="post" action="/gestioneAcquisto" class="form-group form-orizzontale">
                {% csrf_token %}
                
                <div class="singoloProdotto">
                        <input type="hidden" name="idProdotto" value="{{prodotto.id}}">
                        <div class="singoloCampoProdotto">
                            <h6>{{prodotto.nome}}</h6>
                        </div>
                        <div class="singoloCampoProdotto">
                            <span>{{prodotto.descrizione}}</span>
                        </div>
                        <div class="singoloCampoProdotto">
                            <h6>{{prodotto.prezzo}}€</h6>
                        </div>
                        <div class="singoloCampoProdotto">
                            <input class="testoCentrato" type="number" name="numeroPezzi" placeholder="Inserisci la quantità">
                        </div>
                        <div class="singoloCampoProdotto">
                        <button type="submit" name="acquistaOraButton" class="btn btn-primary">Acquista ora</button>
                        <button type="submit" name="aggiungiAlCarrelloButton" class="btn btn-primary">aggiungi al carrello</button>
                    </div>
                </div>
                
            </form>
        {% endfor %}
    {% else %}
        {% if request.method == 'POST'%}
            <h1 class="mt-2">Nessun prodotto trovato</h1>
        {% endif %}    
    {% endif %}
    <hr class="mt-0 mb-4">

    <h1 class="mt-2">Vetrina</h1>
    {% if prodottiInVendita %}
        {% for prodotto in prodottiInVendita %}
            <form method="post" action="/gestioneAcquisto" class="form-group form-orizzontale">
                {% csrf_token %}
                {% if prodotto.visibile %}
                    <div class="singoloProdotto">
                        <input type="hidden" name="idProdotto" value="{{prodotto.id}}">
                        <div class="singoloCampoProdotto">
                            <h6>{{prodotto.nome}}</h6>
                        </div>
                        <div class="singoloCampoProdotto">
                            <span>{{prodotto.descrizione}}</span>
                        </div>
                        <div class="singoloCampoProdotto">
                            <h6>{{prodotto.prezzo}}€</h6>
                        </div>
                        <div class="singoloCampoProdotto">
                            <input class="testoCentrato" type="number" name="numeroPezzi" placeholder="Inserisci la quantità">
                        </div>
                        <div class="singoloCampoProdotto">
                        <button type="submit" name="acquistaOraButton" class="btn btn-primary">Acquista ora</button>
                        <button type="submit" name="aggiungiAlCarrelloButton" class="btn btn-primary">Aggiungi al carrello</button>
                    </div>
                </div>

                {% endif %}
            </form>
        {% endfor %}
    {% else %}
        <h2 class="mt-2">Nessun prodotto in vendita</h2>
    {% endif %}
    
{% endblock %}